.Name {
  font-style: italic;
  margin-left: 30px;
}
.Topleft {
  background-color: black;
  color: white;
}
.Subdiv {
  width: 80vw;
  height: 100%;
  background-color: antiquewhite;
  background-image: url(https://images.unsplash.com/photo-1560170412-0f7df0eb0fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvdXNlJTIwZXh0ZXJpb3J8ZW58MHx8MHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5%;
  margin-left: 5%;
}
.Loginname {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
  text-align: center;
}
.Maindiv {
  display: flex;
}

div {
  margin-top: 5px;
}
input {
  border: 2px solid gray;
  border-radius: 10px;
}
textarea {
  width: 90%;
}
button {
  margin-left: 40%;
  width: 100px;
  border: 2px solid blue;
  color: aliceblue;
  background-color: brown;
  border-radius: 10%;
}
button:hover {
  background-color: blue;
  color: white;
}
div {
  margin-top: 10px;
}
input:focus {
  background-color: yellow;
}
ul {
  display: flex;
  list-style-type: none;
  color: white;
  justify-content: flex-end;
}
li {
  margin-right: 15px;
  margin-top: 10px;
}
body {
  background-color: black;
}
label {
  color: white;
  background-color: rgba(0, 0, 0, 0.488);
  font-weight: 500;
}
h5 {
  color: red;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.23);
}
sup {
  color: red;
  background-color: rgba(0, 0, 0, 0.23);
  font-size: larger;
}
#pic{
  width: 80%;
}
